{% extends 'shop/basic.html' %}

{% block title%} Products list {% endblock %}

{% block body %} 
    {% for prd in product %}


    <p>Product Id -->{{prd.product_id}}</p>
    <p>Product Name -->By {{prd.product_name}} on {{prd.pub_date}}</p>
    <p>Product Category -->{{prd.category}}</p>
    <p>Product Subcategory -->{{prd.subcategory}}</p>
    <p>Product Price -->Price --> {{prd.price}}</p>
    <p>Product Description -->{{prd.desc}}</p>
    <p>Product Image -->{{prd.image}}</p>


    {% endfor %}
{% endblock %}
